[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=5.4.3"
pytest-cov = "~=2.10.0"
pytest-pudb = "~=0.7.0"

[packages]
python-chess = "==0.31.2"

[requires]
python_version = "3.8"
