[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=8.1.0"
pytest-cov = "~=4.1.0"
pytest-pudb = "~=0.7.0"

[packages]
python-chess = "==1.999"

[requires]
python_version = "3.8"
