[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=5.4.2"
pytest-cov = "~=2.8.1"
pytest-pudb = "~=0.7.0"

[packages]
python-chess = "==0.25.1"

[requires]
python_version = "3.8"
